
@use './config/_mixin' as *;
@use './config/_var' as *;
@use './config/_function' as *;


//カードレイアウト
.swiper-wrapper {
    padding: 0 0 30px 0;
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev,
.swiper-button-next {
  height: 70px !important;
  width: 70px !important;
  background-color: $c_white;
  border-radius: 35px;
  &::after {
    background-repeat: no-repeat;
    background-size: contain;
    content: "" !important;
    height: 70px;
    margin: auto;
    width: 70px;
  }
  @include MQ(m) {
    height: 40px !important;
    width: 40px !important;
  }
}

/* 前への矢印カスタマイズ */
.swiper-button-prev::after {
  background-image: url($icon_swiper_prev);
}
/* 次への矢印カスタマイズ */
.swiper-button-next::after {
  background-image: url($icon_swiper_next);
}
/* 画像サイズ調整 */
.swiper-slide img {
  height: auto;
  width: 100%;
}

/* カードCSS */

.bl_blog_card {
    perspective: 600px;
    transition: 0.5s;
    &_ttlLink {
        text-decoration: none;
        color: $c_black;
        @include FH() {
            text-decoration: underline;
            color: $c_red_1;
        }
        &:before {
            content: "";
            inset: 0;
            position: absolute;
        }
    }
    &_item {
        border: 1px solid #eee;
    }
    &_title {
        margin-bottom: 5px;
        font-size: pxToRem(18);
        font-weight: 600;
        color: $c_black;
        text-decoration: none;
        @include FH() {
            text-decoration: underline;
            color: $c_red_1;
        }
    }
    &_text {
        color: #777;
    }
    &:nth-child(4n) {
        margin-right: 0 !important; 
    }
}

.bl_blog_card_imgWrapper {
    position: relative;
    padding-top: 50.25%;
    overflow: hidden;
    > img {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
    }
}

.bl_blog_card_body {
    padding: 15px;
    background-color: $c_white;

    > *:last-child {
        margin-bottom: 0;
    }
}

