@use './config/_var' as *;
@use './config/_mixin' as *;
@use './config/_function' as *;

.bl_sect {
  @include lastMB0();
}

.bl_wysiwyg {
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }

  h1 {
    @include el_lv1Heading();
  }

  h2 {
    @include el_lv2Heading();
  }

  h3 {
    @include el_lv3Heading();
  }

  h4 {
    @include el_lv4Heading();
  }

  h5 {
    @include el_lv5Heading();
  }

  h6 {
    @include el_lv6Heading();
  }

  blockquote {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $c_base;
  }

  pre {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $c_base;
  }

  p {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: pxToRem(18);
    line-height: 1.5;
    letter-spacing: 0.06em;
    @include MQ() {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    @include MQ(m) {
      font-size: pxToRem(14);
      letter-spacing: 0.05em;
    }
    span {
      letter-spacing: 0.06em;
      @include MQ(m) {
        font-size: pxToRem(14);
        letter-spacing: 0.05em;
      }
    }
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  ul {
    padding-left: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: disc;
  }

  ol {
    padding-left: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: decimal;
  }

  span {
    .bl_crossTable {
      background-color: #e9e7df;
      border: none;
      border-radius: 20px;
    }
  }
}
