@use './config/_mixin' as *;
@use './config/_var' as *;
@use './config/_function' as *;

/* レイアウトCSS */
.bl_cardUnit {
    display: flex;
    flex-wrap: wrap;
}

.bl_cardUnit.bl_cardUnit__col4 {
    margin-bottom: -20px;

    >.bl_card {
        position: relative;
        width: 23.78%;
        margin-right: 1.62602%;
        margin-bottom: 20px;
        background-color: $c_white;
        :nth-of-type(4n) {
            margin-right: 0;
        }
    }
}


/* カードCSS */
.bl_card {
    //box-shadow: 16px 16px 35px rgba(0, 0, 0, 0.25);
    perspective: 600px;
    transition: 0.5s;
    &_ttlLink {
        text-decoration: none;
        color: $c_black;
        @include FH() {
            text-decoration: underline;
            color: $c_red_1;
        }
        &:before {
            content: "";
            inset: 0;
            position: absolute;
        }
    }
    &_ttl {
        margin-bottom: 5px;
        font-size: pxToRem(18);
        font-weight: 600;
    }
    &_txt {
        color: #777;
    }
    &:nth-child(4n) {
        margin-right: 0 !important; 
    }
}

.bl_card_imgWrapper {
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    > img {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
    }
}

.bl_card_body {
    padding: 15px;
    background-color: $c_white;

    > *:last-child {
        margin-bottom: 0;
    }
}

@include MQ(m) {
    .bl_cardUnit.bl_cardUnit__col4 {
        > .bl_card {
            width: 100%;
            margin-bottom: 20px;
            margin-right: 0;
        }
    }

}
