@use './config/_mixin' as *;
@use './config/_var' as *;
@use './config/_function' as *;

.bl_cta-wrap {
    opacity: 0.8;
}

.ly_cont__cta {
    background-color: $c_red_1;
    box-shadow: initial;
}

.bl_cta {
    padding: 30px;
    text-align: center;
    > *:last-child {
        margin-bottom: 0;
    }
    &_ttl {
        padding-bottom: 10px;
        margin-top: -6px;
        margin-bottom: 40px;
        border-bottom: 1px solid $c_white;
        color: $c_white;
        font-size: pxToRem(24);
        font-weight: 600;
    }
    &_txt {
        color: $c_white;
        font-size: pxToRem(18);
    }
    @include MQ(m) {
        padding: 0;
    }
}

.el_btn__cta {
    margin: 50px auto;
    background-color: $c_black;
}
