@use './config/_mixin' as *;

.ly_footer {
  position: fixed;
  right: 30px;
  bottom: 26px;
  z-index: 90;
  padding: 0;
  pointer-events: none;
  color: #fff;
  background: transparent;
}

.bl_footer_cont {
  display: flex;
  justify-content: flex-end;
}

.bl_footer_info_logo {
  display: block;
  width: 96px;
  pointer-events: auto;
  opacity: 0.56;
  transition: opacity 0.25s;

  img {
    width: 100%;
  }

  @include FH() {
    opacity: 1;
  }
}

@include MQ(m) {
  .ly_footer {
    right: 16px;
    bottom: 16px;
  }

  .bl_footer_info_logo {
    width: 74px;
  }
}
