
@use './config/_mixin' as *;
@use './config/_var' as *;
@use './config/_function' as *;

.ly_cont {
  $wrp: '.ly_cont';
  @include contentCentering();
  background-color: #FFF;
  box-shadow: 16px 16px 35px rgba(0, 0, 0, 0.25);
  padding: 70px;
  border-radius: 30px;
  background-image:
  repeating-linear-gradient(to bottom,
    transparent 25px,
    rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
    transparent 27px,  transparent 51px, 
    rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
    transparent 53px,  transparent 77px, 
    rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
    transparent 79px,  transparent 103px, 
    rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
    transparent 105px,  transparent 129px, 
    rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px),

  repeating-linear-gradient(to right,
    transparent 25px,
    rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
    transparent 27px,  transparent 51px, 
    rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
    transparent 53px,  transparent 77px, 
    rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
    transparent 79px,  transparent 103px, 
    rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
    transparent 105px,  transparent 129px, 
    rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px);
  @include MQ(m) {
    padding-left: 30px;
    padding-right: 30px;
  }

  &.ly_cont__col {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px;
    @include MQ() {
      flex-direction: column;
      padding-top: 35px;
      padding-bottom: 35px;

    }
  }
}

.ly_cont_main {
  flex: 1;
  margin-right: 3.25203%;
  @include MQ() {
    margin-right: 0;
    margin-bottom: 60px;
  }

  > *:first-child {
    margin-top: 0;
  }
}

.ly_cont_side {
  flex: 0 0 260px;
  &.ly_cont_side__wide {
    flex: 0 0 360px;
  }

  > *:first-child {
    margin-top: 0;
  }
}
